.cartman {

	$red : #c00530;
	$brown: #693f1f;
	$blue : #48c1b2;
	$yellow: #f1e70c;
	$mouth-color:#000;

	.head {
		width: 205px;
		height: 170px;
		background:$skin;
		border-radius: 50%;
		transform:rotate(-2deg);
		transform-origin:center center;
		position: relative;
		z-index: 100;
		margin: 0 auto;
		box-shadow: 0 0 1px rgba(0,0,0,0.4);

		.hat {
			margin-top: 10px;
			position: relative;

			&:before, 
			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				border-top:30px solid #fff;
				z-index: 105;
			}

			&:before {
				right: calc(100% - 6px);
				border-right: 12px solid #fff;
				border-left: 3px solid transparent;
				transform:rotate(23deg);
			}

			&:after {
				left: calc(100% - 6px);
				border-left: 12px solid #fff;
				border-right: 3px solid transparent;
				transform:rotate(-23deg);
			}

			.main {
				height: 68px;
				width: 100%;
				margin-bottom: 10px;
				position: relative;	
				overflow: hidden;
				-webkit-backface-visibility: hidden;

				.inner {
					width: 100%;
					height: 170px;
					border-radius: 50%;
					background: linear-gradient($blue 30%, transparent 70%);
				}
				.front {
					width: calc( 100% + 20px );
					height: 50px;
					border-radius: 50%;
					border:8px solid $yellow;
					position: absolute;
					top: calc( 100% - 22px );
					left: -19px;
					background-color: $skin;
				}
			}

			.poof {
				$size : 30px;
				position: absolute;
				bottom:100%;
				left: 50%;
				transform:translate(-50%, 45%);
				width: $size;
				height: $size;
				z-index: 101;

				span {
					background-color: $yellow;
					position: absolute;

					&:nth-child(1) {
						top:3px;
						left:-1px;
						width: 15px;
						height: 32px;
						border-radius: 50%;
						transform:rotate(45deg);
					}
					&:nth-child(2) {
						top:6px;
						left:50%;
						width: 20px;
						height: 20px;
						border-radius: 20% 50% 20% 20%;
						transform:rotate(-35deg);
					}
					&:nth-child(3) {
						top:3px;
						left:80%;
						width: 15px;
						height: 32px;
						border-radius: 50%;
						transform:rotate(-45deg);
					}
					&:nth-child(4) {
						top: 54%;
					    left: 61%;
					    width: 27px;
					    height: 24px;
					    border-radius: 50%;
					    transform: translate(-50%, -50%);
					}
					&:nth-child(5) {
						top: 3px;
					    left: 101%;
					    width: 12px;
					    height: 28px;
					    border-radius: 50%;
					    transform: rotate(-60deg);
					}
				}
			}
		}

		.eyes {
			transform:translateY(-20px);
		}

		.mouth {

			width: 30px;
			margin: -10px auto 0 auto;
			position: relative;

			&:before {
				content: '';
				border-bottom: $mouth-color 1px solid;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				border-radius:50%;
				position: absolute;
				left:100%;
				top:1px;
			    margin-left: -5px;
			    width: 6px;
			    height: 3px;
			    transform:rotate(-28deg);
			}
			&:after {
				content: '';
				border-bottom: $mouth-color 1px solid;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				border-radius:50%;
				position: absolute;
				right: 0;
				top:0;
				width: 21px;
			    height: 5px;
			    transform:rotate(5deg);
			}
		}

		.chin {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60px;

			div:nth-child(1) {
				position: absolute;
				top:65%;
				left: 52%;
				transform:translate(-50%,-50%);
				border-radius: 50%;
				border-bottom: 1px solid rgba(0,0,0,0.6);
				width: 40px;
				height: 8px;
			}

			div:nth-child(2) {

				$color: #5a5a5a;
				position: absolute;
				top:55%;
				left: 52%;
				transform:
					translate(-50%,-50%) 
					rotate(-3deg);
				border-radius: 50%;
				border-bottom: 1px solid $color;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				width: 110px;
				height: 33px;

				&:before {
					content: '';
					position: absolute;
					top:11px;
					right: 100%;
					margin-right: -17px;
					border-radius: 50%;
					border-bottom: 1px solid $color;
					border-right: 1px solid transparent;
					border-left: 1px solid transparent;
					width: 40px;
					height: 8px;
					transform:rotate(31deg);
				}
				&:after {
					content: '';
					position: absolute;
					top:11px;
					left: 100%;
					margin-left: -17px;
					border-radius: 50%;
					border-bottom: 1px solid $color;
					border-right: 1px solid transparent;
					border-left: 1px solid transparent;
					width: 40px;
					height: 8px;
					transform:rotate(-31deg);
				}
			}
		}
	}

	.torso {
		position: relative;
		top:-55px;
		left: 0;
		width: 275px;
		height: 90px;
		margin: 0 auto;
		z-index: 50;
		.jacket {
			width: 100%;
			height: 100%;
			overflow: hidden;
			.inner {
				background:$red;
				height: 170px;
				border-radius: 40%;
				margin: 0 auto;

				.buttons {
					position: absolute;
					width: 10px;
					height:55%;
					right: calc( 50% + 4px);
					bottom:15px;

					span {
						$size: 4px;
						position: absolute;
						right: 0;
						width: $size;
						height: $size * 1.5;
						background-color: #000;
						border-radius: 50%;

						&:nth-child(1) {
							top:33.333%;
						}
						&:nth-child(2) {
							top:66.666%;
							right: -2px;
						}
						&:nth-child(3) {
							top:100%;
						}
					}
				}

				.zipper {
					position: absolute;
					left: 50%;
					top: 18px;
					margin-left: -0.5px;
					height: 112%;
					width: 4px;
					transform:rotate(1deg);
					z-index: 100;
					border-radius: 50%;
				    z-index: 100;
				    border-right: 1px solid #000;
				}
			}
		}
		.cheesy-poofs {
			$bg : #81c453;
			width: 70px;
			height: 80px;
			background-color:$bg;
			position: absolute;
			right: 15px;
			bottom: -20px;
			z-index: 5;
			transform:rotate(-7deg);
			box-shadow: 0 0 1px rgba(0,0,0,0.4);

			.moon {
				width: 50px;
				height: 40px;
				background-color: #f4eb8a; 
				position: absolute;
				top:7px;
				left: 50%;
				transform:translateX(-50%);
				border-radius: 50%;
				span {
					position: absolute;
					left: 50%;
					top:50%;
					transform:translate(-50%,-50%) rotate(-5deg);
					text-transform: uppercase;
					color: #fff;
					text-shadow: 1px 1px #000;
					font-family: Verdana;
					font-size: 12px;
				}
			}
			.rocket-ship {
				position: absolute;
				top:40px;
				left: 60%;
				background-color: #fafff6;
				width: 8px;
				height:30px;
				border-radius: 50%;
				transform:rotate(20deg);
				box-shadow: 0 0 1px rgba(0,0,0,0.2);

				.wing {
					position: absolute;

					&.left {
						right: 100%;
						bottom: 2px;
						background-color: $red;
						width: 7px;
						height: 3px;
						transform:skew(7px);
					}
				}

				&:before {
					position: absolute;
					content: '';
				    top: -16px;
				    right: -8px;
				    transform: rotate(45deg);
				    width: 77px;
				    height: 35px;
				    border-top: 8px solid transparent;
				    border-right: 7px solid $yellow;
				    border-radius: 50%;
			    }

			    &:after {
			    	content: '';
			    	position: absolute;
			    	top:4px;
			    	left:0;
			    	width: 100%;
			    	height: 2px;
			    	border-radius: 50%;
			    	border-bottom: 1px solid rgba(0,0,0,0.4);
			    }
			}

		}
		.fat-roles {

			.main {
				position: absolute; 
				bottom: -20px;
				left: 0;
				height: 50px;
				width:100%;
				border-radius: 40%;
				background-color:$red;

				span {
					background-color: inherit;
					position: absolute;

					&:nth-child(1) {
						top:45%;
						left: 5;
						width: 90px;
						height: 30px;
						border-radius: 50%;
						transform:rotate(15deg);
						transform-origin:center center;
					}
					&:nth-child(2) {
						top:40%;
						left: 68px;
					    width: 136px;
					    height: 30px;
						border-radius: 50%;
						transform:rotate(-15deg);
						transform-origin:center center;
					}
					&:nth-child(3) {
						top: 18%;
					    left: 82px;
					    width: 119px;
					    height: 50px;
						border-radius: 50%;
						transform:rotate(-5deg);
						transform-origin:center center;
					}
				}
			}
			
		}

		.cartman-mittens {
			.mitten {
				$size: 30px;
				position: absolute;
				width: $size;
				height: $size;
				bottom:-3px;
				background-color: $yellow;
				border-radius: 50%;

				&:nth-child(1) {
					left:-5px;
					border-radius: 50% 50% 50% 0;

					&:before,
					&:after {
						content: '';
						position: absolute;
					}

					&:before {
						left: 0;
						bottom:0;
						background-color: inherit;
						width: 46px;
						height: 15px;
						border-radius: 50%;
					}
					&:after {
						top: -4px;
					    left: 100%;
					    margin-left: -9px;
						background-color: inherit;
						width: 40px;
						height: 15px;
						border-radius: 50%;
						transform:rotate(40deg);
						transform-origin:left top;
					}
				}
				&:nth-child(2) {
					right:-5px;
					border-radius: 50% 50% 0 50%;
					z-index: 50;

					&:before,
					&:after {
						content: '';
						position: absolute;
					}

					&:before {
						right: 0;
					    bottom: -5px;
						background-color: inherit;
						width: 29px;
					    height: 15px;
					    transform: rotate(-10deg);
						border-radius: 50%;
					}
					&:after {
						top: 27px;
					    right: 100%;
					    margin-right: -26px;
						background-color: inherit;
						width: 40px;
						height: 15px;
						border-radius: 50%;
						transform:rotate(-50deg);
						transform-origin:left top;
					}
				}
			}
		}
	}

	.legs {

		width: 75%;
		background-color: $brown;
		height: 45px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform:translateX(-50%);

		&:before {
			content: '';
			position: absolute;
			right: 100%;
			top:0;
			margin-right: -1px;
			border-top: 45px solid $brown;
			border-left: 10px solid transparent;
		}
		&:after {
			content: '';
			position: absolute;
			left: 100%;
			top:0;
			margin-left: -1px;
			border-top: 45px solid $brown;
			border-right: 10px solid transparent;
		}

		.shoes {
			position: absolute;
			bottom:0px;
			left: 0;
			width: 100%;
			white-space: nowrap;

			.shoe {
				width: 55%;
				height: 4px;
				background-color: #000;
				border-radius: 50%;
				display: inline-block;
				position: absolute;
				bottom: -2px;
				transform:transalteY(-50%);


				&:nth-child(1) {
					left: -5px;
					height: 8px;
				}
				&:nth-child(2) {
					right: -5px;
					height: 5px;
				}
			}
		}
	}
	
}